@charset "UTF-8";
body {
    background-color: #fcf6db;
  }

h1,h2,h3 {
  color: rgb(44, 80, 40);
}
h1, h2, h3 {
  text-align: center;
}
@font-face {
  font-family: myFirstFont;
  src: url(Aloevera-OVoWO.ttf);
}
body {
  font-family: myFirstFont;
  color: darkgreen;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
div {
  margin-left: auto;
  margin-right: auto;
}
.class {
  text-align: center;
}
button {
  background-color:#6ec578b5;
}
button {
  border-radius: 20px;
}
.button {
  text-align: center;
}